body {
	font-family: Arial;
}

h2 {
	page-break-before: always;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
	page-break-inside: avoid;
}

table.todo {
	background-color: red;
}

table.doing {
	background-color: orange;
}

table.done {
	background-color: green;
}

table .even {
	filter: brightness(0.9);
}

th, td {
  border: 1px solid black;
}

th:first-letter, td:first-letter {
  text-transform: uppercase;
}

header, footer {
	width: 100%;
	background-color: red;
}

header img {
	height: 0.5in;
}

header div {
	display: inline-block;
}

.story-livrable {
	page-break-before: always;
}

@media print {
	.rapports-davancement hr {
		margin: 0;
		border: 0;
		page-break-after: always;
	}
}

