body {
	font-family: Arial;
}

#title-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 9cm;
}

#title, #sub-title {
	text-align: center;
	font-weight: normal;
}

#title {
	font-size: 26pt;
}

#sub-title {
	page-break-before: avoid;
	font-size: 15pt;
	color: #666666;
}

h2 {
	page-break-before: always;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
	page-break-inside: avoid;
}

table.todo {
	background-color: red;
}

table.doing {
	background-color: orange;
}

table.done {
	background-color: green;
}

table .even {
	filter: brightness(0.9);
}

th, td {
  border: 1px solid black;
}

th:first-letter, td:first-letter {
  text-transform: uppercase;
}

header, footer {
	width: 100%;
	height: calc(100% - 0.25in);
}

header {
	margin-top: 0.25in;
}

header img {
	height: 100%;
	display: inline-block;
}

footer {
	text-align: center;
}

.story-livrable {
	page-break-before: always;
}

.page-stats {
	text-align: right;
	margin-top: 0.1in;
}

@media print {
	.rapports-davancement hr {
		margin: 0;
		border: 0;
		page-break-after: always;
	}
}
