body {
	font-family: Arial;
}

#title-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 9cm;
}

#title, #sub-title {
	text-align: center;
}

#title {
	font-size: 26pt;
}

#sub-title {
	page-break-before: avoid;
	font-size: 15pt;
	color: #666666;
}

h1, h2, h3 {
	font-weight: normal;
}

h2 {
	page-break-before: always;
	font-size: 20pt;
}

h3, #description-du-document, #tdr {
	font-size: 14pt;
	color: #434343;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
	page-break-inside: avoid;
}

table.todo {
	filter: saturate(1.8) hue-rotate(150deg) brightness(0.85) contrast(1.4);
}

table.doing {
	filter: saturate(1.8) hue-rotate(180deg) brightness(1.1);
}

table.done {
	filter: saturate(1.6) hue-rotate(230deg) brightness(1.1);
}

table .even {
	background-color: #a4c2f4;
}

table .odd {
	background-color: #c9daf8;
}

table .key {
	background-color: #6d9eeb;
	color: white;
}

table th {
	font-weight: normal;
}

th, td {
 	border: 1px solid white;
 	padding: 0.08in;
 	text-align: left;
}


th:first-letter, td:first-letter {
	text-transform: uppercase;
}

#revisions .date, #revisions .version {
	text-align: center;
}

#metadata .e-mails td:not(.key):first-letter {
	text-transform: lowercase;
}

.carte-livrable thead th {
	text-align: center;
	height: 0.5in;
}

.carte-livrable .key {
	font-size: 16pt;
}

.carte-livrable thead .even {
	color: #434343;
	font-size: 14pt;
}

.story-card .key {
	font-size: 18pt;
}

header, footer {
	width: 100%;
	height: calc(100% - 0.25in);
}

header {
	margin-top: 0.25in;
}

header img {
	height: 100%;
	display: inline-block;
}

footer {
	text-align: center;
}

.story-livrable:not(#story-livrable-1) {
	page-break-before: always;
}

.page-stats {
	text-align: right;
	margin-top: 0.1in;
}

.rapports-davancement h3 {
	text-decoration: underline;
	font-size: 13pt;
}

.bold {
	font-weight: bold;
}

@media print {
	.rapports-davancement hr {
		margin: 0;
		border: 0;
		page-break-after: always;
	}
}

@media screen {
	body {
		max-width: 800px;
		margin: auto;
	}
}